html {
  box-sizing: border-box;
  background-size: auto;
}

body {
  background-color: white;
  text-align: center;
}

/* Text styles  */

.first-para {
 text-align: left;
 max-width: 75%;
}

li {
  list-style-type: none;
}

h1 {
  font-size: calc(40px + 1vw);
  font-family: "Arvo";
  margin: auto;
  padding: 20px;
}

h2 {
  color: black;
  font-size: calc(30px + 1vw);
  font-family: "Arvo";
  padding-bottom: 10px;
  margin: 0 auto 0 auto;
  position: relative;
}

.top-text {
  color: white;
  display: inline-block;
  position: relative;
  text-align: left;
  margin: 25px auto 25px 25px;
}

.top-head {
  background:  #114E60;
}

h3 {
  font-size: calc(20px + 1vw);
  /* color: white; */
  font-family: "Arvo";
  margin: 0 auto 0 auto;
}

h4 {
  font-size: calc(10px + 1vw);
  font-family: "Arvo";
  margin: 0 auto 0 auto;
}

h5 {
  font-size: calc(7px + 1vw);
  font-family: "Arvo";
  margin: 0 auto 0 auto;

}

h6 {
  font-size: calc(4px + 1vw);
  font-family: "Arvo";
  margin: 0 auto 0 auto;

}

p {
  font-family: "Open Sans";
  margin: 0 auto 0 auto;
  line-height: 2;

}

hr {
  border: dotted #39FF14 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  background-color: #39FF14;
  color: black;
}

table {
  border-spacing: 5px;
}

td, th {
  padding: 15px;
}

.boxhover {
  padding: 7% 15%;
}

.boxhover:hover {
  color: #39FF14;
}

#colorEmph {
  color:#39FF14;
}

#title {
  padding: 7% 15%;
}

#features {
  padding: 2% 5%;
  background-color: #114E60;
  color: white;
  /* position: absolute; */
  /* z-index: 1; not needed since this comes later in the HTML flow */
}

.feature-box {
  text-align: center;
  padding: 5%;
}

a { 
  color: inherit; 
} 

a h3 {
  color: white;
}

a h3:hover {
  background-color: #39FF14;
}

.icon {
  color:#114E60;
  margin-bottom: 1rem;
}

.card-body {
  text-align: center;
  align-items: center;
}

div h2 {
  display: inline-block;
}

.bottom-container {
  background-color: #114E60;
  color: white;
  padding: 50px 0 20px;
}

.intro {
  width: 30%;
  margin: 20px auto 20px;
}

.nt-pic {
  position: relative;
  max-width: 25%;
  opacity: 50%;
  right: 100px;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

/* Pictures  */

.pic1 {
  position: relative;
  float: left;
  margin-right: 30px;
  max-width: 25%;
  opacity: 60%;
}

.pic2 {
  position: relative;
  float: right;
  margin-left: 30px;
  max-width: 90%;
  /* opacity: 60%; */
  padding-top: 5%;
}

.pic3 {
  max-width: 30%;
}

#pictures {
  padding-top: 5%;
  text-align: center;
  color: #F4EEE8; 
  background-color: white;
}

.picture-carousel {
  max-height: 30%;
  position: static;
}

.slide-image {
  max-width: 20%;
  /* width: 35%; */
  margin: 20px;
}

/* Contact */

.contact-me {
  width: 40%;
  margin: 20px auto 20px;
}

.contact-message {
  margin: 20px auto;
}

.links-list {
  color: white;
  font-family: "Arvo";
  margin: 50px auto 100px;
}

/* Buttons */

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Arvo";
  color: black;
  font-size: 20px;
  background: #39FF14;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: black;
  color: #39FF14;
  text-decoration: none;
}

.firstEmph {
  color: #39FF14;
}

/* Contact page  */

#left-col {
  padding-top: 5%;
  padding-bottom: 5%;
}

/* Project page */

.proj-top {
  padding: 10% 20%;
  /* max-width: 65%; */
  align-items: center;
}

.card-body {
  align-items: center;
}

.card-text {
  text-align: left;
}

.card-img-top {
  opacity: 75%;
  max-width: 75%;
  align-self: center;
  padding: 5%;
}

/* About page  */

.intro-self {
  padding: 10%;
}

.abt-img {
  opacity: 25%;
  padding-top: 5%;
  z-index: -1;
 }

 .desc-self {
  padding: 10%;
  text-align: left;
 }

.desc-self h3 {
  padding-top: 35%;
  color:#114E60;
}

.intro-emp {
  padding: 10%;
  text-align: left;
}

.exp-img {
  max-width: 95%;
  padding-left: 5%;
}